@import 'Categories.css';
@import 'SearchBar.css';
@import 'PostList.css';
@import 'PostCard.css';
@import 'Post.css';
@import 'Comment.css';


/* Universal App-wide styles */
ul {
  list-style-position: inside;
  list-style: none;
  margin-left: -2rem;
}

.post-title {
  text-align: center;
}

.postlist-container, .post-container { 
  margin-left: 10vw;
  margin-top: 50px;
}

.post-image img {
  width: 100%;
}

.votes {
  padding-right: 20px;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.author-name {
  color: var(--color-blue);
}


/* App Component */
header {
  background-color: #282c34;
  color: white;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  padding: 30px;
}

main {
  display: flex;
}


/* Home.css */
.postlist-container ul li h3 {
  font-size: 20px;
  overflow: hidden;
}

.postlist-container > ul {
  padding: 0;
}


/* Media Queries */
@media screen and (max-width: 1100px) {
  .postlist-container, .post-container { 
    margin-left: 5vw;
  }

  .post-container > ul > li > div {
    width: 200px;
  }
}


@media screen and (max-width: 800px) {
  header {
    flex-direction: column;
  }

  .searchbar-container > form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .searchbar-container input {
    width: 90%;
    margin: 0 0 10px 0;
    
  }

  .searchbar-container button {
    width: 75%;
    margin-bottom: 18px;
  }



  .category-container {
    display: none;
  }



  section {
    width: 100vw;
  }

  .postlist-container {
    margin: 0;
    justify-content: center;
    width: 100vw;
  }

  .postlist-container ul {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .post-title {
    padding: 5px;
  }

  .post-title h3{
    font-size: 10px;
  }

  .post-text {
    margin: 4px;
    text-align: center;
    font-size: 14px;
  }

  .postlist-container ul li h3 {
    font-size: 16px;
  }

  .postlist-container ul li, .post-card {
    width: 98%;
  }

  .post-footer {
    flex: 2 2 0;
  }


  .votes {
    padding: 0;
    font-weight: bold;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
  }
  
  .author-name, .author, .votes {
    font-size: 12px;
  }

  .comment {
    font-size: 12px;
    display: flex;
    align-items: center;
  }

  .post-container {
    width: 90%;
  }

  .post-container h2 {
    font-size: 18px;
  }

  .post-selftext p {
    font-size: 16px;
    padding: 10px;
  }

  .comments-container {
    margin-top: 50px;
  }

  .comment-container {
    width: 100%;
  }

  .comment-container > div {
    padding: 0 10px;
  }

  .comment-author-container {
    padding: 0 10px;
  }

  .comment-body p {
    font-size: 14px;
  }
}



 
