/* Post Page */

.post-selftext > p {
  font-size: 20px;
  padding: 50px 70px 0 70px;
}


.post-container {
  border: 3px solid #a1a1a1;
  border-radius: 12px;
  width: 75%;
}

.post-container img {
  width: 100%;
}